input.input {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px;
  position: relative;
  border: 1px solid #ccc;
  font-size: 10pt;
  font-weight: normal;
  color: #333;
  box-sizing: border-box;
  background-color: #fff;
}