.lds-facebook {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 28px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20%;
  background: #aaa;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 40%;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 80%;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: -20%;
    height: 150%;
  }
  50%, 100% {
    top: 30%;
    height: 50%;
  }
}


:host-context {
  display: inline-block;
  font-size: 0;
}