.info-box {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;

  ul.info-card-list {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;

    > li.item {
      list-style-type: none;
      display: inline-block;
      width: calc((100% - 42px) / 4);
      margin-right: 14px;
      box-sizing: border-box;
      padding: 14px;
      border-radius: 6px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &.red {
        background: linear-gradient(135deg, rgba(216,89,89,1) 0%, rgba(244,113,113,1) 100%);
      }

      &.green {
        background: linear-gradient(135deg, rgba(60,192,56,1) 0%, rgba(97,235,94,1) 100%);
      }

      &.purple {
        background: linear-gradient(135deg, rgba(142,90,182,1) 0%, rgba(170,128,202,1) 100%);
      }

      &.blue {
        background: linear-gradient(135deg, rgba(66,107,183,1) 0%, rgba(99,134,197,1) 100%);
      }

      .top-area {
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        justify-content: left;
        align-items: top;

        .title-area {
          display: inline-block;
          font-size: 10pt;
          line-height: 10pt;
          color: #fff;
          min-height: 24px;
          // white-space: nowrap;
          // margin-right: 100%;
        }

        .refresh-button-area {
          width: 20px;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          fill: #fff;
          cursor: pointer;
        }
      }

      .middle-area {
        display: flex;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        position: relative;
        justify-content: left;
  
        .icon-area {
          width: 40px;
          min-height: 42px;
          fill: #fff;
        }
  
        .result-area {
          width: 100%;
          display: inline-block;
          font-size: 16pt;
          color: #fff;
          font-weight: bolder;
          text-align: right;
        }
      }
  
      .bottom-area {
        display: flex;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        position: relative;
  
        .title-area {
          width: 70%;
          display: inline-block;
          font-size: 10pt;
          line-height: 10pt;
          color: #fff;
        }
  
        .result-area {
          width: 30%;
          display: inline-block;
          font-size: 10pt;
          line-height: 10pt;
          color: #fff;
          text-align: right;
        }
      }

      .refresh-window {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10pt;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}


@media all and (max-width: 1260px) {
  .info-box {
    ul.info-card-list {
      flex-wrap: wrap;

      > li.item {
        width: calc((100% - 14px) / 2);
        margin-right: 0;
        margin-bottom: 14px;

        &:nth-child(2n - 1) {
          margin-right: 14px;
        }
      }
    }
  }
}

@media all and (max-width: 790px) {
  .info-box {
    ul.info-card-list {
      flex-wrap: wrap;

      > li.item {
        width: 100%;
        margin: 0;
        margin-bottom: 14px;

        &:nth-child(2n - 1) {
          margin-right: 0;
        }
      }
    }
  }
}