.common-top-header {
  display: block;
  position: fixed;
  background-color: #54b4f1;

  .left-area {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    ul.destination-box {
      display: flex;
      margin: 0;
      margin-left: 14px;
      padding: 0;
      position: relative;
      justify-content: left;
      align-items: center;

      > li.item {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        color: #fff;
        font-size: 10pt;
        font-weight: normal;

        &.arrow {
          margin: 0 6px;

          &:last-child {
            display: none;
          }
        }
      } 
    }
  }

  .right-area {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}