<section class="common-top-header" [ngStyle]="{
  'width': topHeaderStyleWidth,
  'height': '50px',
  'display': topHeaderStyleDisplay,
  'top': '0',
  'right': '0',
  'position': topHeaderStylePosition,
  'z-index': zIndex
}">
  <ng-container *ngIf="(deviceMode$ | async) === 'pc'">
    <div class="left-area">
      <ul class="destination-box">
        <ng-container *ngFor="let item of destination$ | async; let i = index">
          <li class="item">
            {{ item }}
          </li>
          <li class="item arrow">
            >
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="right-area">
      <div class="user-name-area">
        {{ loginInfo.userId }} ({{ loginInfo.userName }})
      </div>
      <div class="logout-button-area" (click)="logoutButtonClick();">
        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="width: 100%;enable-background:new 0 0 100 100;" xml:space="preserve">
          <g>
            <path d="M69.6,23.46V6.98c0-2.63-2.15-4.78-4.78-4.78H5.88C3.25,2.2,1.1,4.35,1.1,6.98v3.11v62.29v2.15c0,1.75,1.04,3.42,2.55,4.22
              l36.32,18.8c1.59,0.8,3.5-0.32,3.5-2.15V77.07h21.35c2.63,0,4.78-2.15,4.78-4.78V46.17h-9.56v18.96c0,1.35-1.04,2.39-2.39,2.39
              h-14.1V42.98V27.45v-0.48c0-1.75-1.04-3.43-2.55-4.22L19.58,11.76h38.07c1.35,0,2.39,1.04,2.39,2.39v9.4h9.56V23.46z"/>
            <path d="M81.87,15.66L97.4,31.19c1.99,1.99,1.99,4.94,0,6.93L81.87,53.65c-1.99,1.99-5.02,2.07-7.01,0.08
              c-1.91-1.91-1.67-5.1,0.16-7.01l7.01-6.93H54.87c-1.35,0-2.71-0.56-3.58-1.59c-2.23-2.39-1.67-6.61,1.19-8.2
              c0.72-0.4,1.59-0.64,2.39-0.64h27.16c0,0-6.93-6.93-7.01-6.93c-1.83-1.83-2.07-5.1-0.16-6.93C76.77,13.59,79.88,13.67,81.87,15.66z
              "/>
          </g>
        </svg>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="(deviceMode$ | async) === 'mobile'">
    <div class="left-area">
      <div class="mobile-nav-toggle-button" (click)="mobileNavToggleButtonClick();">
        <svg id="레이어_1" data-name="레이어 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 87.26" style="width: 100%;"><defs><style>.cls-1{fill:#fff;}</style></defs><rect class="cls-1" width="100" height="16.15"/><rect class="cls-1" y="35.56" width="100" height="16.15"/><rect class="cls-1" y="71.11" width="100" height="16.15"/></svg>
      </div>
    </div>
    <div class="app-title-area">
      {{ appTitle$ | async }}
    </div>
    <div class="right-area">
      <div class="logout-button-area" (click)="logoutButtonClick();">
        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="width: 100%;enable-background:new 0 0 100 100;" xml:space="preserve">
          <g>
            <path d="M69.6,23.46V6.98c0-2.63-2.15-4.78-4.78-4.78H5.88C3.25,2.2,1.1,4.35,1.1,6.98v3.11v62.29v2.15c0,1.75,1.04,3.42,2.55,4.22
              l36.32,18.8c1.59,0.8,3.5-0.32,3.5-2.15V77.07h21.35c2.63,0,4.78-2.15,4.78-4.78V46.17h-9.56v18.96c0,1.35-1.04,2.39-2.39,2.39
              h-14.1V42.98V27.45v-0.48c0-1.75-1.04-3.43-2.55-4.22L19.58,11.76h38.07c1.35,0,2.39,1.04,2.39,2.39v9.4h9.56V23.46z"/>
            <path d="M81.87,15.66L97.4,31.19c1.99,1.99,1.99,4.94,0,6.93L81.87,53.65c-1.99,1.99-5.02,2.07-7.01,0.08
              c-1.91-1.91-1.67-5.1,0.16-7.01l7.01-6.93H54.87c-1.35,0-2.71-0.56-3.58-1.59c-2.23-2.39-1.67-6.61,1.19-8.2
              c0.72-0.4,1.59-0.64,2.39-0.64h27.16c0,0-6.93-6.93-7.01-6.93c-1.83-1.83-2.07-5.1-0.16-6.93C76.77,13.59,79.88,13.67,81.87,15.66z
              "/>
          </g>
        </svg>
      </div>
    </div>
  </ng-container>
</section>