.common-top-header {
  display: block;
  position: fixed;
  background-color: #54b4f1;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  transition-timing-function: ease-in-out;

  .left-area {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    ul.destination-box {
      display: flex;
      margin: 0;
      margin-left: 14px;
      padding: 0;
      position: relative;
      justify-content: left;
      align-items: center;

      > li.item {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        color: #fff;
        font-size: 10pt;
        font-weight: normal;

        &.arrow {
          margin: 0 6px;

          &:last-child {
            display: none;
          }
        }
      } 
    }

    .mobile-nav-toggle-button {
      cursor: pointer;
      width: 20px;
      display: flex;
      fill: #fff;
      padding: 14px;
      align-items: center;
      justify-content: center;
    }
  }

  .app-title-area {
    display: block;
    font-size: 12pt;
    color: #fff;
    font-weight: bolder;
    letter-spacing: -0.5pt;
  }

  .right-area {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 14px;
    align-items: center;
    justify-content: center;
    align-items: center;

    .user-name-area {
      font-size: 10pt;
      line-height: 10pt;
      color: #fff;
      margin-right: 10px;
    }

    .logout-button-area {
      display: flex;
      width: 18px;
      fill: #fff;
      cursor: pointer;

      &:hover {
        fill: #f1e854;
      }
    }
  }
}