<nav class="common-nav" 
  [ngStyle]="{
    'width': navStyleWidth,
    'height': navStyleHeight,
    'position': 'fixed',
    'top': '0',
    'left': navStyleLeft,
    'z-index': zIndex
  }" 
  [ngClass]="{
    'mobile': (deviceMode$ | async) === 'mobile'
  }"
  *ngIf="deviceMode === 'pc' || (navOpend$ | async)" 
  [@navAnimation]="deviceMode === 'pc' || (navOpend$ | async)"
  [@.disabled]="navAnimationDisabled">
  <div class="top-area" [ngStyle]="navTopAreaStyle">
    <div class="title-area" [ngClass]="navAppTitleClass" (click)="titleClicked();">
      {{ appTitle$ | async }}
    </div>
    <div class="toggle-button-area" [ngClass]="navToggleButtonAreaClass" *ngIf="(deviceMode$ | async) === 'pc'" (click)="pcNavToggleButtonClick();">
      <img class="toggle-button-icon" [src]="environment.image.icon.toggleIcon" alt="toggle icon" title="toggle icon" />
    </div>
  </div>
  <div class="bottom-area">
    <ul class="menu-list">
      <ng-container *ngFor="let item of userMenuList">
        <li class="item" *ngIf="item.menuList.length > 0">
          <div class="category-name-row" [ngClass]="categoryNameRowClass">
            {{ item.menuCategoryName }}
          </div>
          <ul class="category-menu-list">
            <ng-container *ngFor="let item2 of item.menuList">
              <li class="item">
                <div class="menu-button" 
                  [ngClass]="{
                    'active': item2.menuActive === true
                  }"
                  (click)="menuButtonClick(item2);" (mouseenter)="menuButtonMouseEnter(item2);" (mouseleave)="menuButtonMouseLeave(item2);">
                  <div class="icon-area" [ngClass]="menuIconAreaClass">
                    <div class="icons" [innerHTML]="transform(item2.menuIconPath)"></div>
                  </div>
                  <div class="minimal-menu-name-area" *ngIf="(navMode$ | async) === 'minimal' && (deviceMode$ | async) === 'pc' && item2.menuHover === true">
                    {{ item2.menuName }}
                  </div>
                  <div class="menu-name-area" *ngIf="(navMode$ | async) === 'basic' || (deviceMode$ | async) === 'mobile'">
                    {{ item2.menuName }}
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<div class="nav-background" 
  (click)="navBackgroundClick();"
  *ngIf="(navOpend$ | async) && deviceMode === 'mobile'" 
  [@navBackgroundAnim]="(navOpend$ | async) && deviceMode === 'mobile'"
  [@.disabled]="navAnimationDisabled">

</div>