<app-page-title-box>회사 상세정보</app-page-title-box>
<app-article>
  <app-article-title>
    {{ fixedCompanyName }} 회사정보
  </app-article-title>
  <app-fms-info-ul>
    <app-fms-info-li>
      <app-fms-info-title>
        회사명
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyName!" (inputValueChange)="companyInfo.companyName = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        사업자번호
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyBusinessNumber!" (inputValueChange)="companyInfo.companyBusinessNumber = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        사업장주소
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyAddress!" (inputValueChange)="companyInfo.companyAddress = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        대표자명
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyCEOName!" (inputValueChange)="companyInfo.companyCEOName = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        대표자 연락처
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyCEOTel!" (inputValueChange)="companyInfo.companyCEOTel = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        회사 전화번호
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.companyTel!" (inputValueChange)="companyInfo.companyTel = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        등록일
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-input [inputValue]="companyInfo.createdAt!" [disabled]="true" (inputValueChange)="companyInfo.createdAt = $event;"></app-fms-input>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        상태
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-select [selectItems]="companyStatusSelectItems" [selectedValue]="companyInfo.FmsCompanyStatusCodes!.code" (valueChanged)="companyInfo.FmsCompanyStatusCodes!.code = $event;"></app-fms-select>
      </app-fms-info-content>
    </app-fms-info-li>
    <app-fms-info-li>
      <app-fms-info-title>
        메모
      </app-fms-info-title>
      <app-fms-info-content>
        <app-fms-textarea [textareaValue]="companyInfo.memo!" (textareaValueChange)="companyInfo.memo = $event;"></app-fms-textarea>
      </app-fms-info-content>
    </app-fms-info-li>
  </app-fms-info-ul>
  <div class="button-row">
    <app-fms-button [color]="'gray'" [marginRight]="'10px'" (onClick)="goList();">
      목록으로
    </app-fms-button>
    <app-fms-button [color]="'green'" (onClick)="companyInfoEditButtonClick();">
      회사 정보 수정하기
    </app-fms-button>
  </div>
</app-article>

