:host-context {
  display: table-cell;
  vertical-align: inherit;

  font-size: 10pt;
  color: #555;
  text-align: center;
  padding: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}