.window {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  
  .background-box {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .content-box {
    min-width: 1180px;
    max-width: 1300px;
    // min-height: 600px;
    max-height: 640px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 6px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius: 6px;
    }
  }
}


/*
  width
*/
@media all and (min-width: 1201px) and (max-width: 1300px) {
  .window {
    .content-box {
      min-width: 1160px;
      max-width: 1180px;
    }
  }
}

@media all and (min-width: 1101px) and (max-width: 1200px) {
  .window {
    .content-box {
      min-width: 1060px;
      max-width: 1080px;
    }
  }
}

@media all and (min-width: 1001px) and (max-width: 1100px) {
  .window {
    .content-box {
      min-width: 960px;
      max-width: 980px;
    }
  }
}

@media all and (min-width: 901px) and (max-width: 1000px) {
  .window {
    .content-box {
      min-width: 860px;
      max-width: 880px;
    }
  }
}

@media all and (min-width: 801px) and (max-width: 900px) {
  .window {
    .content-box {
      min-width: 760px;
      max-width: 780px;
    }
  }
}

@media all and (min-width: 701px) and (max-width: 800px) {
  .window {
    .content-box {
      min-width: 660px;
      max-width: 680px;
    }
  }
}

@media all and (min-width: 621px) and (max-width: 700px) {
  .window {
    .content-box {
      min-width: 500px;
      max-width: 600px;
    }
  }
}

@media all and (min-width: 541px) and (max-width: 620px) {
  .window {
    .content-box {
      min-width: 480px;
      max-width: 520px;
    }
  }
}

@media all and (min-width: 401px) and (max-width: 540px) {
  .window {
    .content-box {
      min-width: 360px;
      max-width: 380px;
    }
  }
}

@media all and (min-width: 301px) and (max-width: 400px) {
  .window {
    .content-box {
      min-width: 260px;
      max-width: 280px;
    }
  }
}

@media all and (min-width: 201px) and (max-width: 300px) {
  .window {
    .content-box {
      min-width: 160px;
      max-width: 180px;
    }
  }
}

@media all and (min-width: 0px) and (max-width: 200px) {
  .window {
    .content-box {
      min-width: 120px;
      max-width: 140px;
    }
  }
}


/*
  height
*/
@media all and (min-height: 541px) and (max-height: 660px) {
  .window {
    .content-box {
      // min-height: 500px;
      max-height: 520px;
    }
  }
}

@media all and (min-height: 441px) and (max-height: 540px) {
  .window {
    .content-box {
      // min-height: 400px;
      max-height: 420px;
    }
  }
}

@media all and (min-height: 341px) and (max-height: 440px) {
  .window {
    .content-box {
      // min-height: 300px;
      max-height: 320px;
    }
  }
}

@media all and (min-height: 241px) and (max-height: 340px) {
  .window {
    .content-box {
      // min-height: 200px;
      max-height: 220px;
    }
  }
}

@media all and (min-height: 141px) and (max-height: 240px) {
  .window {
    .content-box {
      // min-height: 100px;
      max-height: 120px;
    }
  }
}

@media all and (min-height: 0px) and (max-height: 140px) {
  .window {
    .content-box {
      // min-height: 80px;
      max-height: 80px;
    }
  }
}