:host-context {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 0;
  border-color: grey;

  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}