<app-fms-info-ul>
  <app-fms-info-li>
    <app-fms-info-title>
      파일 다운로드 키
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadUrlKey!" [disabled]="true" (inputValueChange)="fileDownloadUrlInfo.fileDownloadUrlKey = $event;"></app-fms-input>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      타겟 계정
    </app-fms-info-title>
    <app-fms-info-content>
      <!-- <app-fms-input [inputValue]="fileDownloadUrlInfo?.FmsFileDownloadUrlTargetUsers?.userId!" [disabled]="true" (inputValueChange)="fileDownloadUrlInfo?.FmsFileDownloadUrlTargetUsers!.userId = $event;"></app-fms-input> -->
      <app-fms-select [selectItems]="userSelectItems" [selectedValue]="fileDownloadUrlInfo?.downloadTargetUserKey!" [disabled]="popupMode === 'modify'" (valueChanged)="fileDownloadUrlInfo!.downloadTargetUserKey = $event;"></app-fms-select>  
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      타겟 버전
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-select [selectItems]="fileVersionListSelectItems" [selectedValue]="fileDownloadUrlInfo?.FmsTargetFileVersions?.fileVersionKey!" (valueChanged)="fileDownloadUrlInfo?.FmsTargetFileVersions!.fileVersionKey = $event;"></app-fms-select>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      URL 접근 횟수
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadUrlAccessCount!" [disabled]="true" (inputValueChange)="fileDownloadUrlInfo!.fileDownloadUrlAccessCount = $event;"></app-fms-input>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      다운로드 제한 기간
    </app-fms-info-title>
    <app-fms-info-content>
      <!-- <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadPossibleDateTimeStart!" (inputValueChange)="fileDownloadUrlInfo!.fileDownloadPossibleDateTimeStart = $event;"></app-fms-input> -->
      <app-fms-datetime-input #fileDownloadPossibleDateTimeStartElement [value]="fileDownloadUrlInfo?.fileDownloadPossibleDateTimeStart!" [fixedSecond]="'00'" (valueChanged)="fileDownloadUrlInfo!.fileDownloadPossibleDateTimeStart = $event;"></app-fms-datetime-input>
      <span class="datetime-period-char">~</span>
      <!-- <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadPossibleDateTimeEnd!" (inputValueChange)="fileDownloadUrlInfo!.fileDownloadPossibleDateTimeEnd = $event;"></app-fms-input> -->
      <app-fms-datetime-input #fileDownloadPossibleDateTimeEndElement [value]="fileDownloadUrlInfo?.fileDownloadPossibleDateTimeEnd!" [fixedSecond]="'59'" (valueChanged)="fileDownloadUrlInfo!.fileDownloadPossibleDateTimeEnd = $event;"></app-fms-datetime-input>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      다운로드 제한 횟수
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadLimitMaxCount!" (inputValueChange)="fileDownloadUrlInfo!.fileDownloadLimitMaxCount = $event;"></app-fms-input>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      현재 다운로드된 수
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-input [inputValue]="fileDownloadUrlInfo?.fileDownloadCount!" [disabled]="true" (inputValueChange)="fileDownloadUrlInfo!.fileDownloadCount = $event;"></app-fms-input>
      <app-fms-button [color]="'red'" (click)="fileDownloadCountInitButtonClick();" *ngIf="popupMode === 'modify'">
        초기화
      </app-fms-button>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      URL 생성일
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-input [inputValue]="fileDownloadUrlInfo?.createdAt!" [disabled]="true" (inputValueChange)="fileDownloadUrlInfo.createdAt = $event;"></app-fms-input>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      상태
    </app-fms-info-title>
    <app-fms-info-content>
      <app-fms-select [selectItems]="fileDownloadUrlStatusSelectItems" [selectedValue]="fileDownloadUrlInfo?.FmsFileDownloadUrlStatusCodes!.code" (valueChanged)="fileDownloadUrlInfo?.FmsFileDownloadUrlStatusCodes!.code = $event;"></app-fms-select>
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li *ngIf="popupMode === 'modify'">
    <app-fms-info-title>
      메일 삽입용 HTML (복사 후 붙여넣기하여 사용)
    </app-fms-info-title>
    <app-fms-info-content>
      <br />
      <br />
      <div style="display: inline-block; background-color: #fff; border: 1px solid #999; max-width: 700px;">
        <div style="background-color: #bed8ef; text-align: center; padding: 14px; box-sizing: border-box; color: #222;">
          {{ fileDownloadUrlInfo?.FmsTargetFileVersions?.fileDownloadName }}
        </div>
        <div style="display: block; padding: 10px;">
          <div style="display: block; text-align: center; color: #aaa;">
            파일 다운로드 기간<br />
            {{ fileDownloadUrlInfo.fileDownloadPossibleDateTimeStart + ' ~ ' + fileDownloadUrlInfo.fileDownloadPossibleDateTimeEnd }}
          </div>
          <div style="display: block; text-align: center;">
            <a [href]="baseUrl + '/api/download/file/' + fileDownloadUrlInfo.fileDownloadUrlKey">
              파일 다운로드
            </a>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
    </app-fms-info-content>
  </app-fms-info-li>
  <app-fms-info-li>
    <app-fms-info-title>
      다운로드(접근) 제한
    </app-fms-info-title>
    <app-fms-info-content>
      <div class="condition-input-area">
        <app-fms-select 
          [selectItems]="conditionCodeListSelectItems" 
          [selectedValue]="currentSelectedConditionInfo.conditionType" 
          (valueChanged)="currentSelectedConditionInfo.conditionType = $event;"
          [marginBottom]="'6px'"></app-fms-select>
        <ng-container *ngIf="['FDUCT00000001', 'FDUCT00000003'].includes(currentSelectedConditionInfo.conditionType)">
          <app-fms-input 
            [placeHolder]="'값 입력'" 
            [inputValue]="currentConditionValueInfo.value" 
            (inputValueChange)="currentConditionValueInfo.value = $event"
            [marginBottom]="'6px'"></app-fms-input>
        </ng-container>
        <ng-container *ngIf="['FDUCT00000002'].includes(currentSelectedConditionInfo.conditionType)">
          <app-fms-input 
            [placeHolder]="'키 입력'" 
            [inputValue]="currentConditionKeyInfo.key" 
            (inputValueChange)="currentConditionKeyInfo.key = $event"
            [marginBottom]="'6px'"></app-fms-input>
          <app-fms-input 
            [placeHolder]="'값 입력'" 
            [inputValue]="currentConditionValueInfo.value" 
            (inputValueChange)="currentConditionValueInfo.value = $event"
            [marginBottom]="'6px'"></app-fms-input>
        </ng-container>
        <app-fms-button [color]="'red'" (onClick)="conditionUploadButtonClick();">
          등록
        </app-fms-button>
      </div>
      <div>
        <ul class="condition-show-list">
          <ng-container *ngFor="let item of conditionItems">
            <li class="item" *ngIf="item.type !== 'delete'">
              <div class="title">
                {{ item.conditionTypeName }}
              </div>
              <div class="content">
                <ng-container *ngIf="item.conditionType === 'FDUCT00000001'">
                  {{ item.value }} IP 주소에 대해서만 접근 허용
                </ng-container>
                <ng-container *ngIf="item.conditionType === 'FDUCT00000002'">
                  Header 의 "{{ item.key }}" 값이 "{{ item.value }}" 인 요청에 대해서만 접근 허용
                </ng-container>
                <ng-container *ngIf="item.conditionType === 'FDUCT00000003'">
                  "{{ item.value }}" 라는 암호를 입력해야 접근 가능
                </ng-container>
                <ng-container *ngIf="item.conditionType === 'FDUCT00000004'">
                  파일 정보를 확인하는 페이지에 접근 후 다운로드 접근 가능
                </ng-container>
              </div>
              <div class="button-area">
                <app-fms-button [color]="'gray'" (click)="conditionDeleteButtonClick(item);">삭제</app-fms-button>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </app-fms-info-content>
  </app-fms-info-li>
</app-fms-info-ul>