<div class="background">

</div>
<app-content-center-t class="full-box">
  <div class="file-box">
    <div class="title-row">
      <div class="file-name">
        {{ fileNormalInfo.fileDownloadName }}
      </div>
    </div>
    <div class="content-row">
      <ul class="file-info-list">
        <li class="item" *ngIf="fileNormalInfo.isPossibleDatetimeShow === 'Y'">
          <div class="title-row">
            다운로드 가능 기간
          </div>
          <div class="content-row datetime">
            {{ fileNormalInfo.fileDownloadPossibleDateTimeStart }} ~ {{ fileNormalInfo.fileDownloadPossibleDateTimeEnd }}
          </div>
        </li>
        <li class="item" *ngIf="fileNormalInfo.isDownloadCountInfoShow === 'Y'">
          <div class="title-row">
            다운로드 가능 횟수
          </div>
          <div class="content-row datetime">
            {{ fileNormalInfo.fileDownloadCount }} / {{ fileNormalInfo.fileDownloadLimitMaxCount}}
          </div>
        </li>
        <li class="item">
          <div class="title-row">
            용량
          </div>
          <div class="content-row">
            {{ byteConvertInfo.sizeToFixed }} {{ byteConvertInfo.unit }}
          </div>
        </li>
        <li class="item" *ngIf="fileNormalInfo.requirePassword === true">
          <div class="title-row">
            암호
          </div>
          <div class="content-row">
            <app-fms-input [inputValue]="password" [inputType]="'password'" (inputValueChange)="password = $event;"></app-fms-input>
          </div>
        </li>
        <li class="item" *ngIf="fileNormalInfo.fileDescription !== ''">
          <div class="title-row">
            설명
          </div>
          <div class="content-row pre-line">{{ fileNormalInfo.fileDescription }}</div>
        </li>
        <li class="item" *ngIf="fileNormalInfo.fileVersionHistoryList.length > 0">
          <div class="title-row">
            버전 이력
          </div>
          <div class="content-row">
            <app-fms-button [color]="'red'" (click)="versionHistoryViewButtonClicked($event);">버전 이력 확인</app-fms-button>
          </div>
        </li>
      </ul>
    </div>
    <div class="download-button-row">
      <app-fms-button [color]="'gray'" (onClick)="downloadButtonClick();">다운로드</app-fms-button>
    </div>
  </div>
</app-content-center-t>

<app-file-version-history-popup #fileVersionHistoryPopup [fileVersionHistoryItems]="fileNormalInfo.fileVersionHistoryList" [isShow]="false"></app-file-version-history-popup>