.top-area {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  .left-area {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: flex-start;

    .total-info-box {
      font-size: 10pt;
      color: #555;
    }
  }

  .right-area {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: flex-end;

    ul.view-type-list {
      display: flex;
      margin: 0;
      margin-right: 6px;
      padding: 0;
      position: relative;

      > li.item {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 8px;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }

        &.active {
          background-color: #ddd;
        }

        .icon-area {
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          fill: #333;
        }
      }
    }

    .view-count-control-box {
      display: flex;
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
}