.article {
  display: block;
  margin: 0;
  padding: 14px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}