<div (window:resize)="onResize();"></div>
<swiper #swiper
  [slidesPerView]="1"
  [centeredSlides]="true"
  [autoplay]="autoplay"
  [navigation]="navigation"
  [pagination]="pagination">
  <ng-template swiperSlide class="swiper-slide" *ngFor="let item of slideList; index as i">
    <ng-container *ngIf="item.slideType === 'image'">
      <ng-container *ngIf="item.imageLink !== undefined && item.imageLink !== ''">
        <a class="image-a" [href]="item.imageLink" target="_blank" [style]="{
          'height': aMaxHeight + 'px',
          'background-image': 'url(\'' + item.imageSrc + '\')'
        }">
          <!-- <img [src]="item.imageSrc" /> -->
        </a>
      </ng-container>
      <ng-container *ngIf="item.imageLink === undefined">
        <div class="image-a" [style]="{
          'height': aMaxHeight + 'px',
          'background-image': 'url(\'' + item.imageSrc + '\')'
        }">
          <!-- <img [src]="item.imageSrc" /> -->
      </div>
      </ng-container>
    </ng-container>
  </ng-template>
  <div slot="container-end" class="swiper-pagination pagination-test"></div>
</swiper>
