:host-context {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0;
  position: relative;
}

@media all and (min-width: 1450px) {
  :host-context {
    width: calc((100% - 60px) / 4);

    &.half {
      width: calc((100% - 20px) / 2);
    }
    
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media all and (min-width: 1391px) and (max-width: 1449px) {
  :host-context {
    width: calc((100% - 40px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media all and (min-width: 881px) and (max-width: 1390px) {
  :host-context {
    width: calc((100% - 20px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 880px) {
  :host-context {
    width: 100%;
    margin-right: 0;
  }
}