.search-box {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  position: relative;

  .top-area {
    ul.search-item-list {
      display: flex;
      margin: 0;
      padding: 0;
      position: relative;
      justify-items: left;
      flex-wrap: wrap;
  
      > li.item {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        margin-right: 14px;
        margin-bottom: 8px;
        padding: 0;
        position: relative;
  
        .title-area {
          font-size: 10pt;
          color: #000;
          display: block;
          margin: 0;
          margin-bottom: 4px;
          padding: 0;
          position: relative;
        }
  
        .content-area {
          display: block;
          margin: 0;
          margin-bottom: 4px;
          padding: 0;
          position: relative;
  
          input.input-text {
            width: 180px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            padding: 5px 7px;
            font-size: 10pt;
            color: #333;
            min-height: 32px;
  
            &.datetime {
              width: 150px;
              letter-spacing: -0.5pt;
            }
          }
  
          input.input-checkbox {
            border: 1px solid #ccc;
            background-color: #fff;
            min-width: 14px;
            min-height: 14px;
            font-size: 10pt;
            color: #333;
            margin: 0;
            padding: 0;
            margin-right: 5px;
          }
  
          .datetime-center-char {
            font-size: 10pt;
            color: #333;
            display: inline-block;
            margin: 0 5px;
          }
  
          ul.checkbox-item-list {
            display: flex;
            margin: 0;
            padding: 0;
            position: relative;
            flex-wrap: wrap;
            
            > li.item {
              list-style-type: none;
              display: flex;
              margin: 0;
              margin-right: 10px;
              padding: 0;
              position: relative;
              align-items: center;
  
              &:last-child {
                margin-right: 0;
              }
  
              label {
                font-size: 10pt;
                line-height: 10pt;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
  
  .bottom-area {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-items: center;
    // flex-wrap: wrap;

    .left-button-area {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .right-button-area {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}