<section class="search-box">
  <div class="top-area">
    <ul class="search-item-list">
      <ng-container *ngFor="let item of searchItemList">
        <li class="item">
          <div class="title-area">{{ item.itemTitle }}</div>
          <div class="content-area">
            <ng-container *ngIf="item.searchType === 'text'">
              <input class="input-text" type="text" [(ngModel)]="item.currentValue" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'datetime'">
              <input class="input-text datetime" type="date" [(ngModel)]="item.startDatetime" />
              <span class="datetime-center-char">~</span>
              <input class="input-text datetime" type="date" [(ngModel)]="item.endDatetime" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'checkbox'">
              <ul class="checkbox-item-list">
                <ng-container *ngFor="let checkboxItem of item.checkboxItemList">
                  <li class="item">
                    <input [id]="checkboxItem.uniqueID" class="input-checkbox" type="checkbox" [value]="checkboxItem.checkboxValue" [(ngModel)]="checkboxItem.checked" />
                    <label [for]="checkboxItem.uniqueID">{{ checkboxItem.labelText }}</label>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="bottom-area">
    <div class="left-button-area">
      <ng-content select="[leftButton]"></ng-content>
    </div>
    <div class="right-button-area">
      <ng-content select="[rightButton]"></ng-content>
    </div>
  </div>
</section>