<section class="search-box">
  <div class="top-area">
    <ul class="search-item-list">
      <ng-container *ngFor="let item of searchItemList">
        <li class="item" [ngStyle]="{
          'margin-right': item.marginRight ?? '14px'
        }">
          <div class="title-area">{{ item.itemTitle }}</div>
          <div class="content-area">
            <ng-container *ngIf="item.searchType === 'text'">
              <input class="input-text" type="text" [(ngModel)]="item.currentValue" (keypress)="searchFormKeyPress($event);" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'datetime'">
              <input class="input-text datetime" type="date" [(ngModel)]="item.startDatetime" (keypress)="searchFormKeyPress($event);" />
              <span class="datetime-center-char">~</span>
              <input class="input-text datetime" type="date" [(ngModel)]="item.endDatetime" (keypress)="searchFormKeyPress($event);" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'one-datetime'">
              <input class="input-text datetime" type="date" [(ngModel)]="item.oneDatetime" (keypress)="searchFormKeyPress($event);" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'year-month'">
              <div class="group-a">
                <app-fms-select [width]="'auto'" [selectItems]="yearSelectItems" (valueChanged)="item.startYear = $event;" [selectedValue]="item.startYear!"></app-fms-select>
                <app-fms-select [width]="'auto'" [selectItems]="monthSelectItems" (valueChanged)="item.startMonth = $event;" [selectedValue]="item.startMonth!"></app-fms-select>
              </div>
              <span class="datetime-center-char">~</span>
              <div class="group-a">
                <app-fms-select [width]="'auto'" [selectItems]="yearSelectItems" (valueChanged)="item.endYear = $event; endChanged(item);" [selectedValue]="item.endYear!"></app-fms-select>
                <app-fms-select [width]="'auto'" [selectItems]="monthSelectItems" (valueChanged)="item.endMonth = $event; endChanged(item);" [selectedValue]="item.endMonth!"></app-fms-select>
              </div>
            </ng-container>
            <ng-container *ngIf="item.searchType === 'number'">
              <input class="input-text datetime" type="number" [(ngModel)]="item.startNumber" (keypress)="searchFormKeyPress($event);" />
              <span class="datetime-center-char">~</span>
              <input class="input-text datetime" type="number" [(ngModel)]="item.endNumber" (keypress)="searchFormKeyPress($event);" />
            </ng-container>
            <ng-container *ngIf="item.searchType === 'checkbox'">
              <ul class="checkbox-item-list">
                <ng-container *ngFor="let checkboxItem of item.checkboxItemList">
                  <li class="item">
                    <input [id]="checkboxItem.uniqueID" class="input-checkbox" type="checkbox" [value]="checkboxItem.checkboxValue" [(ngModel)]="checkboxItem.checked" />
                    <label [for]="checkboxItem.uniqueID">{{ checkboxItem.labelText }}</label>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
            <ng-container *ngIf="item.searchType === 'select'">
              <app-fms-select [selectItems]="item.selectItems!" (valueChanged)="item.currentValue = $event;" [selectedValue]="item.currentValue!"></app-fms-select>
            </ng-container>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="bottom-area" [ngClass]="{
    'mobile': deviceMode === 'mobile'
  }">
    <div class="left-button-area">
      <ng-content select="[leftButton]"></ng-content>
    </div>
    <div class="right-button-area" *ngIf="isRightButtonShow" [ngClass]="{
      'mobile': deviceMode === 'mobile'
    }">
      <ng-content select="[rightButton]"></ng-content>
    </div>
  </div>
</section>