:host-context {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;

  &.card {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}