<app-page-title-box>회사관리</app-page-title-box>
<app-article>
  <app-article-title>조회조건</app-article-title>
  <app-search-box (onEnter)="getList(1);"
    [searchItemList]="searchItemList" #companySearchBox>
    <div leftButton>
      <app-button [color]="'gray'" [marginRight]="'10px'" (onClick)="clearSearchItem();">
        검색 값 초기화
      </app-button>
      <app-button [color]="'sky-blue'" (onClick)="getList(1);">
        검색
      </app-button>
    </div>
    <div rightButton>
      <app-button [color]="'red'" (onClick)="''">
        회사 등록
      </app-button>
    </div>
  </app-search-box>
</app-article>
<app-article>
  <app-table-top-box (tableViewTypeChanged)="companyTableViewType = $event;" #companyTableTopBox></app-table-top-box>
  <app-fms-table [ngClass]="[companyTableViewType]">
    <app-fms-thead [ngClass]="[companyTableViewType]">
      <app-fms-tr [ngClass]="[companyTableViewType]">
        <app-fms-th [ngClass]="[companyTableViewType]"><input type="checkbox" (change)="companyListAllCheckChanged();" [(ngModel)]="isCompanyListAllCheck" /></app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">No.</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">회사명</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">사업자번호</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">사업장주소</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">대표자명</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">대표자 연락처</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">회사 전화번호</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">등록일</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">메모</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">상태</app-fms-th>
        <app-fms-th [ngClass]="[companyTableViewType]">&nbsp;</app-fms-th>
      </app-fms-tr>
    </app-fms-thead>
    <app-fms-tbody [ngClass]="[companyTableViewType]">
      <ng-container *ngFor="let item of companyList">
        <app-fms-tr [ngClass]="[companyTableViewType]">
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType"><input type="checkbox" [(ngModel)]="item.isChecked" /></app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'No.'">{{ item.seq }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'회사명'">{{ item.companyName }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'사업자번호'">{{ item.companyBusinessNumber }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'사업장주소'">{{ item.companyAddress }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'대표자명'">{{ item.companyCEOName }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'대표자 연락처'">{{ item.companyCEOTel }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'회사 전화번호'">{{ item.companyTel }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'등록일'">{{ item.createdAt }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'메모'">{{ item.memo }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType" [columnName]="'상태'">{{ item.FmsCompanyStatusCodes?.codeName }}</app-fms-td>
          <app-fms-td [ngClass]="[companyTableViewType]" [tableViewType]="companyTableViewType"><app-button [color]="'dark-blue'" (click)="companyDetailInfoButtonClick(item);">상세정보</app-button></app-fms-td>
        </app-fms-tr>
      </ng-container>
    </app-fms-tbody>
  </app-fms-table>
  <app-pagination-box #companyListPaginationBox (pageClicked)="getList($event);"></app-pagination-box>
</app-article>