<app-page-title-box>회사관리</app-page-title-box>
<app-article>
  <app-article-title>조회조건</app-article-title>
  <app-search-box [searchItemList]="searchItemList" #companySearchBox>
    <div leftButton>
      <app-button [color]="'gray'" [marginRight]="'10px'" (onClick)="clearSearchItem();">
        검색 값 초기화
      </app-button>
      <app-button [color]="'sky-blue'" (onClick)="getList(1);">
        검색
      </app-button>
    </div>
    <div rightButton>
      <app-button [color]="'red'" (onClick)="''">
        회사 등록
      </app-button>
    </div>
  </app-search-box>
</app-article>
<app-article>
  <app-table-top-box #companyTableTopBox></app-table-top-box>
  <app-fms-table>
    <app-fms-thead>
      <app-fms-tr>
        <app-fms-th><input type="checkbox" (change)="companyListAllCheckChanged();" [(ngModel)]="isCompanyListAllCheck" /></app-fms-th>
        <app-fms-th>No.</app-fms-th>
        <app-fms-th>회사명</app-fms-th>
        <app-fms-th>사업자번호</app-fms-th>
        <app-fms-th>사업장주소</app-fms-th>
        <app-fms-th>대표자명</app-fms-th>
        <app-fms-th>대표자 연락처</app-fms-th>
        <app-fms-th>회사 전화번호</app-fms-th>
        <app-fms-th>등록일</app-fms-th>
        <app-fms-th>상태</app-fms-th>
        <app-fms-th>&nbsp;</app-fms-th>
      </app-fms-tr>
    </app-fms-thead>
    <app-fms-tbody>
      <ng-container *ngFor="let item of companyList">
        <app-fms-tr>
          <app-fms-td><input type="checkbox" [(ngModel)]="item.isChecked" /></app-fms-td>
          <app-fms-td>{{ item.seq }}</app-fms-td>
          <app-fms-td>{{ item.companyName }}</app-fms-td>
          <app-fms-td>{{ item.companyBusinessNumber }}</app-fms-td>
          <app-fms-td>{{ item.companyAddress }}</app-fms-td>
          <app-fms-td>{{ item.companyCEOName }}</app-fms-td>
          <app-fms-td>{{ item.companyCEOTel }}</app-fms-td>
          <app-fms-td>{{ item.companyTel }}</app-fms-td>
          <app-fms-td>{{ item.createdAt }}</app-fms-td>
          <app-fms-td>{{ item.companyStatus?.codeName }}</app-fms-td>
          <app-fms-td><app-button [color]="'dark-blue'">상세정보</app-button></app-fms-td>
        </app-fms-tr>
      </ng-container>
    </app-fms-tbody>
  </app-fms-table>
</app-article>