.article-title {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  position: relative;

  .title-area {
    font-size: 10pt;
    color: #191919;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .border {
    height: 1px;
    background-color: #cecece;
  }
}