.common-content {
  display: block;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  transition: 0.3s all;
  transition-timing-function: ease-in-out;
  overflow-y: scroll;

  &.mobile {
    transition: none;
  }
}